<h1>Moja lista produktów:</h1>

<div>
  <input #prodinput placeholder="Podaj kolejny produkt">
  <button (click)="addProduct(prodinput.value); prodinput.value=''">Dodaj</button>
</div>

<ul>
  @for (product of products(); track product.id) {
  <li [class.bought] = "product.bought" (click) = "toggleProduct(product.id)">
    <span class="name">Produkt: {{ product.name }}</span>
    <button (click)="$event.stopPropagation(); removeProduct(product.id)">Usuń</button>
  </li>
  }
</ul>

<p>
  Delete all bought products <button (click)="deleteBoughtProducts()">Delete</button>
</p>

<p>
  All products count: {{prodCount()}} <br>
  Products to buy count: {{prodToBuyCount()}} <br>
  Products bought count: {{prodBoughtCount()}} <br>
</p>

<p class="filters">
  <button (click) = "setCategory('All')">Wszystkie</button>
  <button (click) = "setCategory('To buy')">Do kupienia</button>
  <button (click) = "setCategory('Bought')">Kupione</button>
</p>

<p>
  Chosen filter: {{category()}}<br>
  Filtered products count: {{products().length}}
</p>

